body {
    background: #262a2b;
}
/*=====
removes blue outline on links. 
Should also add :focus to links' :hover 
for keyboard navigating
=======*/
:focus{
    outline: none;
}

.tilesWrap {
    padding: 0;
    margin: 50px auto;
    list-style: none;
    text-align: center;
}

.tilesWrap li {
    display: inline-block;
    width: 20%;
    min-width: 200px;
    max-width: 230px;
    padding: 80px 20px 40px;
    position: relative;
    vertical-align: top;
    margin: 10px;
    font-family: 'helvetica', san-serif;
    min-height: 25vh;
    background: #262a2b;
    border: 1px solid #252727;
    text-align: left;
}

.tilesWrap li h4 {
    font-size: 40px;
    margin: 0;
    position: absolute;
    opacity: 0.2;
    top: 50px;
    right: 10px;
    transition: all 0.3s ease-in-out;
}
/* added .dontobscured to prevent h4 interfering with h3*/
.dontobscure{
    opacity: 0;
}

.tilesWrap li:hover .dontobscure {
    top: 0px;
    opacity: 1;
}

.tilesWrap li h3 {
    font-size: 20px;
    color: #b7b7b7;
    margin-bottom: 5px;
}

.tilesWrap li p {
    font-size: 16px;
    line-height: 18px;
    color: #b7b7b7;
    margin-top: 5px;
}

.tilesWrap li button {
    background: transparent;
    border: 1px solid #b7b7b7;
    padding: 10px 20px;
    color: #b7b7b7;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: translateY(-40px);
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
}

.tilesWrap li button:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 120%;
    background: #b7b7b7;
    top: 0;
    opacity: 0;
    left: -140px;
    border-radius: 0 20px 20px 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;

}

.tilesWrap li:hover button {
    transform: translateY(5px);
    opacity: 1;
}

.tilesWrap li button:hover {
    color: #262a2b;
}

.tilesWrap li button:hover:before {
    left: 0;
    opacity: 1;
}

.tilesWrap li:hover h4 {
    top: 0px;
    opacity: 0.6;
}

.tilesWrap li:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(2deg, 2deg);
}

.tilesWrap li:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.02);
}

.tilesWrap li:nth-child(1):before {
    background: #C9FFBF;
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.tilesWrap li:nth-child(2):before {
    background: #e3d791;
    background: -webkit-linear-gradient(to right, #bc84f0, #e3d791);
    background: linear-gradient(to right, #bc84f0, #e3d791);
}

.tilesWrap li:nth-child(3):before {
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}

.tilesWrap li:nth-child(4):before {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #7d248f);
    background: linear-gradient(to right, #0ABFBC, #7d248f);
}

.tilesWrap li:nth-child(5):before {
    background: #34eb71;
    background: -webkit-linear-gradient(to right, #b74ced, #34eb71);
    background: linear-gradient(to right, #b74ced, #34eb71);
}

.tilesWrap li:nth-child(6):before {
    background: #34a4eb;
    background: -webkit-linear-gradient(to right, #f0f26d, #34a4eb);
    background: linear-gradient(to right, #f0f26d, #34a4eb);
}

.tilesWrap li:nth-child(7):before {
    background: #34eb71;
    background: -webkit-linear-gradient(to right, #f26ddc, #34eb71);
    background: linear-gradient(to right, #f26ddc, #34eb71);
}

#pages {
    text-align: center;
    color: #ffc500;
    line-height: 1.2;
    word-spacing: 10px;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    margin-bottom: 1px;
}

#pages li {
    font-family: 'helvetica', san-serif;
    font-size: 20px;
    padding: 14px;
}

#pages a {
    text-decoration: none;
    color: #FC354C;

}


.space {
    font-size: 40%;
    display: inline-block;

}


div.foo {
    width: 90%;
    text-align: left;
    padding-left: 33px;
}

.letter {
    display: inline-block;
    font-weight: 900;
    font-size: 1em;
    margin: 0.2em;
    position: relative;
    color: #3011ad;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
}

.letter:before,
.letter:after {
    position: absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top: 0;
    left: 0;
}

.letter,
.letter:before,
.letter:after {
    transition: all 0.3s ease-in-out;
}

.letter:before {
    color: #bebcc4;
    text-shadow:
        -1px 0px 1px rgba(255, 255, 255, .8),
        1px 0px 1px rgba(0, 0, 0, .8);
    z-index: 3;
    transform:
        rotateX(0deg) rotateY(-15deg) rotateZ(0deg);
}

.letter:after {
    color: rgba(0, 0, 0, .11);
    z-index: 2;
    transform:
        scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg);
}

.letter:hover:before {
    color: #fafafa;
    transform:
        rotateX(0deg) rotateY(-40deg) rotateZ(0deg);
}

.letter:hover:after {
    transform:
        scale(1.08, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(0deg, 22deg);
}

.buttonlinks {
    background-color: #47505e;
    display: flex;
    justify-content: center;
    margin: auto;
}

h1 {
    /* font-family: Butcherman; */
    font-size: 280%;
    text-align: center;
    text-shadow: 2px 2px 4px #DEF3F3;
    color: rgb(24, 47, 77);
    background-color: #DEF3;
    border-style: outset;
    border-width: 2px;
    border-color: brown;
    border-radius: 20px;
    padding: 10px;
    background-image: url("madeonearth.png");
    font-family: 'helvetica', san-serif;

}

button {
    padding-left: 10px;
    margin-left: 100px;

    font-size: 150%;
    border-radius: 5px;
    background-color: #251b4c;
    position: center;
}

#pictures {
    color: aquamarine;
    font-weight: 900;
    font-size: 28px;
    padding: 10px;
    margin-left: 90px;
    text-align: center;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

#pictures:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: none;
}

#pictures::before {
    position: absolute;
    top: -2px;
    left: -7px;
    box-sizing: content-box;
    padding: 0 5px;
    width: 100%;
    height: 100%;
    border: 5px solid #741c7c;
    border-radius: 15px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

#pictures:hover::before {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.6);
}
.hidden{
text-decoration: none;
color: rgb(24, 47, 77);
cursor: auto;
}

img{
    display: none;
}

@media only screen and (orientation: portrait) {
    html {
        padding: 0em 0em 47em 0em;
    }
}
