*{
    padding: 0;
    margin: 0;

}
.container {
    /*background-color: #5DBCD2;*/
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.title {
    color: #2C0E42;
    font-size: 150%;
    background-color: #58452bd5;
    text-shadow: 4px 4px 2px #88dbf2;
    border: 1px solid #fff;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 1em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

h2 {
    font-size: 8vh;
    /* text-shadow: 2px 2px 4px #000000; */
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

ul {
    list-style: none;
}

a {
    font-size: 5vh;
    text-decoration: none;
    color: #cbf542;
    display: flex;
    justify-content: center;

}

a:hover {
    text-decoration: underline;
}

.visplaces {
    text-decoration-color: dimgrey;
    color: #42f5e6;
    background: rgba(0, 0, 0, 0.70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding: 3rem;

}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}
