* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shadows Into Light", cursive;
  background-color: rgb(255, 228, 196);
}
.title {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  font-weight: 900;
  margin: 0.2em 0.5em 0.5em 0.5em;
  color: #365f81;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgb(248, 220, 185);
  padding:0.3em;
}

.petsList {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 3rem;
}
a{
  color: #000000;
}
a:link {
  text-decoration: none;
  
}
a:hover {
  text-decoration: rgba(0, 0, 0, 0.19);
}
img{
  transition: transform 1s;
}
img:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-4px);
}
.pepper-text, .newton-text{
  text-align: center;
  margin-left: 0.5em;
  transition: transform 1s;
}
.pepper-text:hover, .newton-text:hover{
    display: flex;
    flex-direction: column;
    text-shadow: 0.5px 0.5px 1px #000000;
    transform: scale(1.02);
  }
  img, .pepper-text, .newton-text{
    max-width: 100%;
  }
.pepper-text{
  
 
  }
  .newton-text{
  
 
  }
@media screen and (max-width: 600px) {
  .petsList {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .title{
    text-align: center;
  }
}
