* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

header {
    background: #b7c7e9;
}

.container {
    background: #869dce;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#title {
    display: flex;
    justify-content: center;
    letter-spacing: .05em;
    text-shadow:
        4px 4px 0px #d5d5d5,
        7px 7px 0px rgba(0, 0, 0, 0.2);
}

/*.radio {
    margin-left: 2em;
    font-weight: 900;
    color: #b7c7e9c4;
} */

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;

}


.radio {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
    color: #b7c7e9c4;
    font-weight: 900;
}

.radio li {
    float: left;
    margin: 0 5px 5px 0;
    width: 100px;
    height: 40px;
    position: relative;
}

.radio label,
.radio input {
    /*display: block;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.radio input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.radio input[type="radio"]:checked+label,
.Checked+label {
    background: #0565a5;
    color: #121316;
}

.radio label {
    padding: 5px;
    border: 1px solid #0565a5;
    cursor: pointer;
    z-index: 90;
}

.radio label:hover {
    background: #DDD;
}

#inputHeight {
    margin-top: 1em;
    width: 3em;
    border-radius: 7px;
    border: none;
    background: #b7c7e9;
    font-size: larger;
}

.patient {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    margin-bottom: 1em;
    padding: 1em;
}

.patient p {
    font-weight: 700;
}

.volumes {
    display: flex;
    justify-content: flex-end;
}

.volumes p {
    display: inline;
    font-weight: 700;
    text-shadow: #0565a5;
}

#ventTidVol {
    font-weight: 800;
    margin-bottom: 1em;
    margin-left: -1.5em;
}

output {
    font-weight: 900;
    font-size: x-large;
    background-color: #869dce;
}

.images {
    display: flex;
    justify-content: center;
}

footer {
    background: #869dce;
    height: 1em;
}

#calcButton,
#printButton {
    width: 200px;
    height: 50px;
    background: none;
    border: 4px solid;
    color: #0565a5;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    position: relative;

}

#calcButton::before,
#calcButton::after,
#printButton::before,
#printButton::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background: #869dce;
    transform: skewX(50deg);
    transition: .4s linear;
}

#calcButton::before,
#printButton::before {
    top: -4px;
    left: 10%;
}

#calcButton::after,
#printButton::after {
    bottom: -4px;
    right: 10%;
}

#calcButton:hover::before,
#printButton:hover::before {
    left: 80%;
}

#calcButton:hover::after,
#printButton:hover::after {
    right: 80%;
}

@media print {
    #printButton {
        display: none;
    }

    .images {
        display: flex;
        flex-direction: column;
        page-break-inside: avoid;
    }

    .container {
        margin-top: 150px;
    }

    .radio label {
        color: #f5f3f3;
        opacity: 0.3;
    }

    .radio input[type="radio"]:checked+label,
    .Checked+label {
        background: #82a6c2;
        color: #020611;
        opacity: 1;
    }

}

@media screen and (max-width: 700px) {
    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .images {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1200px) {
    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .images {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
        height: 100%;
    }
}