* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e4fcf9;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: flex-start;
   
}

ul,
a {
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
    align-items: flex-start;
     gap: 16px;
}
li {
  position: relative;
}
h1 {
  color: #4b89ac;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
    text-shadow: 2px 2px 2px #1f506d;
}
.pictures {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  transition: transform 0.8s;
  padding: 0.5em;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
}
.pictures:hover {
  transform: scale(1.05);
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.6);
  padding: 0.5em;
    
}

.pol-text,
.email-text,
.esp-text,
.epeople-text,
.citipage-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: larger;
  transition: transform 0.8s;
  z-index: 1;
}

img {
  max-width: 100%;
}
